.logo{
    max-height: 150px;
   
    text-align: left;
    
    padding-left: 0px;
}

.loginButtons{
    position: sticky;
    left: 100%;
}

.loginWrapper{

    position: sticky;
    left: 100%;

}



