.logo{
    max-height: 150px;
   
    text-align: left;
    
    padding-left: 0px;
    
    
}

.loginButtons{
    position: sticky;
    left: 100%;
}

.loginWrapper{

    position: sticky;
    left: 100%;

}

.imgWrapper{
    position: relative;
}

/* following is the styling for the tutorial */

/*  */
.header{
    position: fixed;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 10;
    
}

/* styling the text of the navbar */
a {
    color: #fff;
    text-decoration: none;
    margin: 1rem .2rem;
}

.nav-menu {
    /* makes the links in navbar side by side */
    display: flex;
}

.nav-menu li { 
    /* adds padding between links in navbar */
    padding: 0 1rem;
    margin: 1rem .2rem;
}

.nav-menu a {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 1rem;
}

/* hiding the navbar hamburger icon */
.hamburger {
    display: none;
}

/* styling to display the hamburger/drop down */
@media screen and (max-width:1240px){
    .hamburger {
        display: block;
    }

    .nav-menu {
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        text-align: center;
        width: 100%;
        height: 100vh;
        transition: 0.3s;
        z-index: -1;
        background: rgba(0,0,0, .9);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-menu li {

        font-size: 1rem 0;
    }

    .nav-menu a{
        font-size: 2rem;
    }
}

.wrapper {
    background: #000;
}


.btn-links:hover{
    text-color:#000;
}