/*for the font*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300&display=swap');


*{
    font-family: 'Raleway', sans-serif;
    background-color: #CAFF8A;
     
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



#checkboxPlatforms, #checkboxGenres
{
  height: 100px;
  overflow-y: scroll;
}


#logopic{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-left: 40%;
  padding-bottom: 0%;
  
}

#logopic:hover{
  
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  
}

#inner-title{
  display:inline-block;
}

#title
{
  color:red;
  text-align: center;
}
#gameFormat
{
  white-space: pre-wrap;
}



h1{

  display:inline-block;
  font-size: 500px;
  padding-right:0;
}

